.pio/build/project.checksum
.pio/build/adafruit_qtpy_esp32c3/.sconsign311.dblite
.pio/build/adafruit_qtpy_esp32c3/bootloader.bin
.pio/build/adafruit_qtpy_esp32c3/firmware.bin
.pio/build/adafruit_qtpy_esp32c3/firmware.elf
.pio/build/adafruit_qtpy_esp32c3/firmware.map
.pio/build/adafruit_qtpy_esp32c3/libFrameworkArduino.a
.pio/build/adafruit_qtpy_esp32c3/partitions.bin
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/base64.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/base64.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/cbuf.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/cbuf.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/Esp.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/Esp.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-adc.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-adc.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-bt.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-bt.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-cpu.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-cpu.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-dac.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-dac.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-gpio.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-gpio.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-i2c-slave.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-i2c-slave.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-i2c.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-i2c.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-ledc.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-ledc.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-matrix.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-matrix.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-misc.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-misc.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-psram.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-psram.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-rgb-led.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-rgb-led.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-rmt.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-rmt.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-sigmadelta.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-sigmadelta.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-spi.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-spi.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-time.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-time.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-timer.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-timer.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-tinyusb.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-tinyusb.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-touch.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-touch.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-uart.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/esp32-hal-uart.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/firmware_msc_fat.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/firmware_msc_fat.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/FirmwareMSC.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/FirmwareMSC.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/FunctionalInterrupt.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/FunctionalInterrupt.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/HardwareSerial.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/HardwareSerial.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/HWCDC.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/HWCDC.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/IPAddress.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/IPAddress.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/IPv6Address.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/IPv6Address.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/main.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/main.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/MD5Builder.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/MD5Builder.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/Print.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/Print.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/stdlib_noniso.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/stdlib_noniso.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/Stream.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/Stream.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/StreamString.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/StreamString.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/Tone.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/Tone.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/USB.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/USB.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/USBCDC.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/USBCDC.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/USBMSC.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/USBMSC.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/wiring_pulse.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/wiring_pulse.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/wiring_shift.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/wiring_shift.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/WMath.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/WMath.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/WString.cpp.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/WString.cpp.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/libb64/cdecode.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/libb64/cdecode.c.o
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/libb64/cencode.c.d
.pio/build/adafruit_qtpy_esp32c3/FrameworkArduino/libb64/cencode.c.o
.pio/build/adafruit_qtpy_esp32c3/lib394/libFS.a
.pio/build/adafruit_qtpy_esp32c3/lib394/FS/FS.cpp.d
.pio/build/adafruit_qtpy_esp32c3/lib394/FS/FS.cpp.o
.pio/build/adafruit_qtpy_esp32c3/lib394/FS/vfs_api.cpp.d
.pio/build/adafruit_qtpy_esp32c3/lib394/FS/vfs_api.cpp.o
.pio/build/adafruit_qtpy_esp32c3/lib94c/libWebServer.a
.pio/build/adafruit_qtpy_esp32c3/lib94c/WebServer/Parsing.cpp.d
.pio/build/adafruit_qtpy_esp32c3/lib94c/WebServer/Parsing.cpp.o
.pio/build/adafruit_qtpy_esp32c3/lib94c/WebServer/WebServer.cpp.d
.pio/build/adafruit_qtpy_esp32c3/lib94c/WebServer/WebServer.cpp.o
.pio/build/adafruit_qtpy_esp32c3/lib94c/WebServer/detail/mimetable.cpp.d
.pio/build/adafruit_qtpy_esp32c3/lib94c/WebServer/detail/mimetable.cpp.o
.pio/build/adafruit_qtpy_esp32c3/libec1/libWiFi.a
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFi.cpp.d
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFi.cpp.o
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiAP.cpp.d
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiAP.cpp.o
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiClient.cpp.d
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiClient.cpp.o
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiGeneric.cpp.d
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiGeneric.cpp.o
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiMulti.cpp.d
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiMulti.cpp.o
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiScan.cpp.d
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiScan.cpp.o
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiServer.cpp.d
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiServer.cpp.o
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiSTA.cpp.d
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiSTA.cpp.o
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiUdp.cpp.d
.pio/build/adafruit_qtpy_esp32c3/libec1/WiFi/WiFiUdp.cpp.o
.pio/build/adafruit_qtpy_esp32c3/src/deauth.cpp.d
.pio/build/adafruit_qtpy_esp32c3/src/deauth.cpp.o
.pio/build/adafruit_qtpy_esp32c3/src/general.cpp.d
.pio/build/adafruit_qtpy_esp32c3/src/general.cpp.o
.pio/build/adafruit_qtpy_esp32c3/src/main.cpp.d
.pio/build/adafruit_qtpy_esp32c3/src/main.cpp.o
.pio/build/adafruit_qtpy_esp32c3/src/web_interface.cpp.d
.pio/build/adafruit_qtpy_esp32c3/src/web_interface.cpp.o
.pio/build/esp32-s3-devkitm-1/.sconsign311.dblite
.pio/build/esp32-s3-devkitm-1/bootloader.bin
.pio/build/esp32-s3-devkitm-1/firmware.bin
.pio/build/esp32-s3-devkitm-1/firmware.elf
.pio/build/esp32-s3-devkitm-1/firmware.map
.pio/build/esp32-s3-devkitm-1/idedata.json
.pio/build/esp32-s3-devkitm-1/libFrameworkArduino.a
.pio/build/esp32-s3-devkitm-1/partitions.bin
.pio/build/esp32-s3-devkitm-1/sizedata.json
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/base64.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/base64.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/cbuf.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/cbuf.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/Esp.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/Esp.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-adc.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-adc.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-bt.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-bt.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-cpu.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-cpu.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-dac.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-dac.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-gpio.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-gpio.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-i2c-slave.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-i2c-slave.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-i2c.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-i2c.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-ledc.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-ledc.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-matrix.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-matrix.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-misc.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-misc.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-psram.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-psram.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-rgb-led.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-rgb-led.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-rmt.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-rmt.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-sigmadelta.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-sigmadelta.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-spi.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-spi.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-time.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-time.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-timer.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-timer.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-tinyusb.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-tinyusb.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-touch.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-touch.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-uart.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/esp32-hal-uart.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/firmware_msc_fat.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/firmware_msc_fat.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/FirmwareMSC.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/FirmwareMSC.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/FunctionalInterrupt.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/FunctionalInterrupt.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/HardwareSerial.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/HardwareSerial.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/HWCDC.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/HWCDC.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/IPAddress.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/IPAddress.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/IPv6Address.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/IPv6Address.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/main.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/main.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/MD5Builder.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/MD5Builder.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/Print.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/Print.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/stdlib_noniso.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/stdlib_noniso.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/Stream.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/Stream.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/StreamString.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/StreamString.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/Tone.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/Tone.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/USB.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/USB.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/USBCDC.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/USBCDC.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/USBMSC.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/USBMSC.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/wiring_pulse.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/wiring_pulse.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/wiring_shift.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/wiring_shift.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/WMath.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/WMath.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/WString.cpp.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/WString.cpp.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/libb64/cdecode.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/libb64/cdecode.c.o
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/libb64/cencode.c.d
.pio/build/esp32-s3-devkitm-1/FrameworkArduino/libb64/cencode.c.o
.pio/build/esp32-s3-devkitm-1/lib394/libFS.a
.pio/build/esp32-s3-devkitm-1/lib394/FS/FS.cpp.d
.pio/build/esp32-s3-devkitm-1/lib394/FS/FS.cpp.o
.pio/build/esp32-s3-devkitm-1/lib394/FS/vfs_api.cpp.d
.pio/build/esp32-s3-devkitm-1/lib394/FS/vfs_api.cpp.o
.pio/build/esp32-s3-devkitm-1/lib94c/libWebServer.a
.pio/build/esp32-s3-devkitm-1/lib94c/WebServer/Parsing.cpp.d
.pio/build/esp32-s3-devkitm-1/lib94c/WebServer/Parsing.cpp.o
.pio/build/esp32-s3-devkitm-1/lib94c/WebServer/WebServer.cpp.d
.pio/build/esp32-s3-devkitm-1/lib94c/WebServer/WebServer.cpp.o
.pio/build/esp32-s3-devkitm-1/lib94c/WebServer/detail/mimetable.cpp.d
.pio/build/esp32-s3-devkitm-1/lib94c/WebServer/detail/mimetable.cpp.o
.pio/build/esp32-s3-devkitm-1/libec1/libWiFi.a
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFi.cpp.d
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFi.cpp.o
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiAP.cpp.d
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiAP.cpp.o
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiClient.cpp.d
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiClient.cpp.o
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiGeneric.cpp.d
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiGeneric.cpp.o
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiMulti.cpp.d
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiMulti.cpp.o
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiScan.cpp.d
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiScan.cpp.o
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiServer.cpp.d
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiServer.cpp.o
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiSTA.cpp.d
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiSTA.cpp.o
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiUdp.cpp.d
.pio/build/esp32-s3-devkitm-1/libec1/WiFi/WiFiUdp.cpp.o
.pio/build/esp32-s3-devkitm-1/src/deauth.cpp.d
.pio/build/esp32-s3-devkitm-1/src/deauth.cpp.o
.pio/build/esp32-s3-devkitm-1/src/general.cpp.d
.pio/build/esp32-s3-devkitm-1/src/general.cpp.o
.pio/build/esp32-s3-devkitm-1/src/main.cpp.d
.pio/build/esp32-s3-devkitm-1/src/main.cpp.o
.pio/build/esp32-s3-devkitm-1/src/web_interface.cpp.d
.pio/build/esp32-s3-devkitm-1/src/web_interface.cpp.o
.pio/build/esp32doit-devkit-v1/.sconsign311.dblite
.pio/build/esp32doit-devkit-v1/bootloader.bin
.pio/build/esp32doit-devkit-v1/firmware.bin
.pio/build/esp32doit-devkit-v1/firmware.elf
.pio/build/esp32doit-devkit-v1/firmware.map
.pio/build/esp32doit-devkit-v1/idedata.json
.pio/build/esp32doit-devkit-v1/libFrameworkArduino.a
.pio/build/esp32doit-devkit-v1/partitions.bin
.pio/build/esp32doit-devkit-v1/FrameworkArduino/base64.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/base64.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/cbuf.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/cbuf.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/Esp.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/Esp.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-adc.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-adc.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-bt.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-bt.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-cpu.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-cpu.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-dac.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-dac.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-gpio.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-gpio.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-i2c-slave.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-i2c-slave.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-i2c.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-i2c.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-ledc.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-ledc.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-matrix.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-matrix.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-misc.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-misc.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-psram.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-psram.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-rgb-led.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-rgb-led.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-rmt.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-rmt.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-sigmadelta.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-sigmadelta.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-spi.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-spi.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-time.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-time.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-timer.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-timer.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-tinyusb.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-tinyusb.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-touch.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-touch.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-uart.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-uart.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/firmware_msc_fat.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/firmware_msc_fat.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/FirmwareMSC.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/FirmwareMSC.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/FunctionalInterrupt.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/FunctionalInterrupt.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/HardwareSerial.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/HardwareSerial.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/HWCDC.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/HWCDC.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/IPAddress.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/IPAddress.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/IPv6Address.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/IPv6Address.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/main.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/main.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/MD5Builder.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/MD5Builder.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/Print.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/Print.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/stdlib_noniso.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/stdlib_noniso.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/Stream.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/Stream.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/StreamString.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/StreamString.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/Tone.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/Tone.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/USB.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/USB.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/USBCDC.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/USBCDC.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/USBMSC.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/USBMSC.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/wiring_pulse.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/wiring_pulse.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/wiring_shift.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/wiring_shift.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/WMath.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/WMath.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/WString.cpp.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/WString.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/libb64/cdecode.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/libb64/cdecode.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/libb64/cencode.c.d
.pio/build/esp32doit-devkit-v1/FrameworkArduino/libb64/cencode.c.o
.pio/build/esp32doit-devkit-v1/lib394/libFS.a
.pio/build/esp32doit-devkit-v1/lib394/FS/FS.cpp.d
.pio/build/esp32doit-devkit-v1/lib394/FS/FS.cpp.o
.pio/build/esp32doit-devkit-v1/lib394/FS/vfs_api.cpp.d
.pio/build/esp32doit-devkit-v1/lib394/FS/vfs_api.cpp.o
.pio/build/esp32doit-devkit-v1/lib94c/libWebServer.a
.pio/build/esp32doit-devkit-v1/lib94c/WebServer/Parsing.cpp.d
.pio/build/esp32doit-devkit-v1/lib94c/WebServer/Parsing.cpp.o
.pio/build/esp32doit-devkit-v1/lib94c/WebServer/WebServer.cpp.d
.pio/build/esp32doit-devkit-v1/lib94c/WebServer/WebServer.cpp.o
.pio/build/esp32doit-devkit-v1/lib94c/WebServer/detail/mimetable.cpp.d
.pio/build/esp32doit-devkit-v1/lib94c/WebServer/detail/mimetable.cpp.o
.pio/build/esp32doit-devkit-v1/libec1/libWiFi.a
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFi.cpp.d
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFi.cpp.o
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiAP.cpp.d
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiAP.cpp.o
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiClient.cpp.d
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiClient.cpp.o
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiGeneric.cpp.d
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiGeneric.cpp.o
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiMulti.cpp.d
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiMulti.cpp.o
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiScan.cpp.d
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiScan.cpp.o
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiServer.cpp.d
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiServer.cpp.o
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiSTA.cpp.d
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiSTA.cpp.o
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiUdp.cpp.d
.pio/build/esp32doit-devkit-v1/libec1/WiFi/WiFiUdp.cpp.o
.pio/build/esp32doit-devkit-v1/src/deauth.cpp.d
.pio/build/esp32doit-devkit-v1/src/deauth.cpp.o
.pio/build/esp32doit-devkit-v1/src/general.cpp.d
.pio/build/esp32doit-devkit-v1/src/general.cpp.o
.pio/build/esp32doit-devkit-v1/src/main.cpp.d
.pio/build/esp32doit-devkit-v1/src/main.cpp.o
.pio/build/esp32doit-devkit-v1/src/web_interface.cpp.d
.pio/build/esp32doit-devkit-v1/src/web_interface.cpp.o
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
